# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables (CRITICAL SECURITY)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Operating System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ----------------------
# CLIENT (Next.js)
# ----------------------
client/.next/
client/out/
client/build/
client/dist/
client/.vercel/

# TypeScript
client/*.tsbuildinfo
client/next-env.d.ts

# ----------------------
# SERVER (NestJS)
# ----------------------
server/dist/
server/coverage/
server/*.tsbuildinfo

# ----------------------
# DATABASE & DRIZZLE
# ----------------------
# If you use SQLite locally (not likely since you use Postgres, but good to have)
*.sqlite
*.db

# ----------------------
# IDE & EDITORS
# ----------------------
.vscode/
.idea/
*.swp
*.swo

# ----------------------
# TESTING
# ----------------------
coverage/
cypress/videos
cypress/screenshots

# ----------------------
# MISC
# ----------------------
# Ignore the actual downloaded movies/torrents locally (so you don't commit a 2GB movie!)
server/downloads/
server/torrents/


uploads/

/torrent/torrent_service/downloads
/torrent/torrent_service/media
/torrent/torrent_service/static
/__pycache__/
