services:
  db:
    image: postgres:18-alpine
    container_name: hypertube_db
    env_file:
      - ./.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"

  backend:
    build: ./server
    container_name: hypertube_backend
    command: npm run start:dev
    depends_on:
      - db
    env_file:
      - ./.env
    environment:
      PORT: ${BACKEND_PORT}
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    working_dir: /app
    volumes:
      - ./server:/app
      - /app/node_modules

  frontend:
    build: ./client
    container_name: hypertube_frontend
    command: npm run dev
    depends_on:
      - backend
    env_file:
      - ./.env
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    working_dir: /app
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  postgres_data:
